# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.so

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs & Large files
logs/*
!logs/.gitkeep
data/*/
!data/.gitkeep
results/*
!results/.gitkeep

# HDFS temp
*.crc